<div class="right-section">
    <div class="nav">
        <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
        </button>
        <div class="dark-mode">
            <span class="material-icons-sharp active"></span>
            <span class="material-icons-sharp"></span>
        </div>
        <div class="perfilFT2">
            <a href="/profile" class="profile-link">
                <img class="profile-img" src="<%= user.userImage ? ('/uploads/img/users/' + user.userImage) : '/assets/img/icon/perfil.png' %>">
                <div class="profile-info">
                    <p class="txts"><strong>Nome:</strong> <%= user.userName %></p>
                    <p class="txts"><strong>Email:</strong> <%= user.userEmail %></p>
                    <p class="txt1Card">Logout</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Ícone de notificação -->
    <div class="notificacao-container">
        <img src="/assets/img/icon/notificacao.png" alt="Ícone de Notificação" class="notificacao-icone" id="notificacao-icone">
        <span class="badge" id="notificacao-badge">3</span>
    </div>
                
    <!-- Caixa de notificação -->
    <div class="caixa-notificacao" id="caixa-notificacao">
        <h3>Notificações</h3>
        <ul id="lista-notificacoes">
            <li class="notificacao-item alerta">
                <p>Atenção chuvas fortes se aproximam, proteja sua Plantação!</p>
                <button onclick="excluirNotificacao(this)">Excluir</button>
                <button onclick="gerarAlerta('Nova atualização de sistema disponível!')">Gerar Alerta</button>
            </li>
            <li class="notificacao-item">
                <p>Alta Temperatura.</p>
                <button onclick="excluirNotificacao(this)">Excluir</button>
                <button onclick="gerarAlerta('Seu pedido foi enviado.')">Gerar Alerta</button>
            </li>
            <li class="notificacao-item">
                <p>Baixa Umidade.</p>
                <button onclick="excluirNotificacao(this)">Excluir</button>
                <button onclick="gerarAlerta('Você tem 3 novas mensagens.')">Gerar Alerta</button>
            </li>
        </ul>
        <button id="fechar-caixa" onclick="fecharCaixa()">Fechar</button>
    </div>
</div>