/* === PRIMEIRA LINHA === */
.cameraContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 5rem;
}

/* === CÂMERA === */
.camera {
  width: 59vw;
  background-color: rgb(var(--mobo-red));
  border-radius: 1.5rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 95%;
  height: 380px;
  background-color: rgb(var(--mobo-black));
  border-radius: 1rem;
  object-fit: cover;
}

/* === CONTROLES E BOTÕES === */
.harvesterArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgb(var(--mobo-red));
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  gap: 0.6rem;
}

.txtButton {
  font-weight: 600;
  color: rgb(var(--mobo-red));
  margin-bottom: 0.3rem;
}

.controlsCamera {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.controlsCamera:hover {
  transform: scale(1.05);
}

.button {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.txtIcon {
  font-size: 0.5rem;
  font-weight: 500;
  color: rgb(var(--mobo-red));
  margin-top: 0.3rem;
}

.txtGallery {
  color: rgb(var(--mobo-red));
  text-decoration: underline;
  margin-top: 1rem;
  font-weight: 600;
  transition: 0.3s;
}
.txtGallery:hover {
  color: rgb(var(--mobo-red));
}

/* === SEGUNDA LINHA === */
.controlContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
  gap: 3rem;
}

/* === MAPA E BOTÕES === */
.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  border: 4px solid rgb(var(--mobo-red));
  border-radius: 1.5rem;
  padding: 1.5rem;
  width: 57vw;
  background-color: rgb(var(--mobo-beige));
  box-shadow: 0px 4px 10px rgba(var(--mobo-red), 0.15);
}

.mapArea {
  width: 50%;
  height: 280px;
  border: 4px solid rgb(var(--mobo-red));
  border-radius: 1rem;
}

.mapButton {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 2rem;
  margin: 0 1rem;
}

/* === CONTROLE REMOTO CENTRAL === */
.remote {
  position: relative;
  width: 250px;
  height: 220px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--mobo-white), 0.3);
  box-shadow: 0 6px 12px rgba(var(--mobo-white), 0.15),
    inset 0 4px 6px rgba(var(--mobo-black), 0.15),
    inset 0 -4px 6px rgba(var(--mobo-black), 0.15);
  border: 2px solid rgba(var(--mobo-white), 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.centerButton {
  position: absolute;
  background-color: rgb(var(--mobo-red));
  color: rgb(var(--mobo-white));
  font-weight: 600;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  top: 45px;
  border: 2px solid rgb(var(--mobo-white));
  box-shadow: 0 3px 10px rgba(var(--mobo-red), 0.2);
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}
.centerButton:hover {
  transform: scale(1.05);
  background-color: rgb(var(--mobo-dark-red));
}

.directionButtons {
  top: -5px;
  position: absolute;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directionButton {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

.directionButton:hover {
  transform: scale(1.05);
}

.directionButton.up {
  top: 0;
}
.directionButton.down {
  bottom: 0;
}
.directionButton.left {
  left: 0;
}
.directionButton.right {
  right: 0;
}

.btnUp,
.btnDown,
.btnLeft,
.btnRight {
  position: relative;
  width: 35px;
  height: 35px;
}

/* === VELOCIDADE (+/-) === */
.btnSpeed {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  width: 60px;
  height: 120px;
}

.btnSpeed:hover {
  transform: scale(1.05);
}

.btnSmall {
  margin-right: -0.5rem;
}

.btnBig {
  margin-left: -0.5rem;
}

/* === BRAÇO MECÂNICO E ÍCONE === */
.harvesterArea {
  position: relative;
  padding-top: 2rem;
}

.harvester {
  position: relative;
  width: 18rem;
  height: 20rem;
  background-color: rgb(var(--mobo-red));
  border-radius: 1.5rem;
}

.harvesterClaw {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 16rem;
  height: 15rem;
}

.harvesterDirection {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 10px;
  right: 10px;
  background-color: rgb(var(--mobo-red));
  border-radius: 1.5rem;
  z-index: 10;
}

/* === RESPONSIVIDADE === */
@media (max-width: 1024px) {
  .camera {
    width: 95%;
  }
  .map {
    width: 80%;
  }
  .remote .centerButton {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 768px) {
  .map {
    width: 90%;
  }
}
