.cameraContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 5rem;
}

.camera {
  width: 59vw;
  background-color: rgb(var(--mobo-red));
  border-radius: 1.5rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 95%;
  height: 380px;
  background-color: rgb(var(--mobo-black));
  border-radius: 1rem;
  object-fit: cover;
}

/* === CONTROLES E BOTÕES === */
.harvesterArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid rgb(var(--mobo-red));
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  gap: 0.6rem;
}

.txtButton {
  font-weight: 600;
  color: rgb(var(--mobo-red));
  margin-bottom: 0.3rem;
}

.controlsCamera {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
}

.controlsCamera:hover {
  transform: scale(1.05);
}

.button {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 auto;
}

.txtIcon {
  font-size: 0.5rem;
  font-weight: 500;
  color: rgb(var(--mobo-red));
  margin-top: 0.3rem;
}

.txtGallery {
  color: rgb(var(--mobo-red));
  text-decoration: underline;
  margin-top: 1rem;
  font-weight: 600;
  transition: 0.3s;
}
.txtGallery:hover {
  color: rgb(var(--mobo-red));
}

/* === MAPA E BOTÕES === */
.map {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
  border: 4px solid rgb(var(--mobo-red));
  border-radius: 1.5rem;
  padding: 1.5rem;
  width: 57vw;
  background-color: rgb(var(--mobo-white));
  box-shadow: 0px 4px 10px rgba(var(--mobo-red), 0.15);
}

.mapArea {
  width: 50%;
  height: 280px;
  border: 4px solid rgb(var(--mobo-red));
  border-radius: 1rem;
}

.mapButton {
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

/* === CONTROLE REMOTO CENTRAL === */
.remote {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgb(var(--mobo-beige3));
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerButton {
  background-color: rgb(var(--mobo-red));
  color: rgb(var(--mobo-white));
  font-weight: 600;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 6px solid rgb(var(--mobo-white));
  box-shadow: 0 3px 10px rgba(var(--mobo-red), 0.2);
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}
.centerButton:hover {
  background-color: rgb(var(--mobo-dark-red));
}

.directionButtons {
  position: absolute;
  top: -50;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directionButton {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.directionButton.up {
  top: 0;
}
.directionButton.down {
  bottom: 0;
}
.directionButton.left {
  left: 0;
}
.directionButton.right {
  right: 0;
}

.btnUp,
.btnDown,
.btnLeft,
.btnRight {
  position: relative;
  width: 35px;
  height: 35px;
}

/* === VELOCIDADE (+/-) === */
.btnSpeed {
  margin: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btnBig,
.btnSmall {
  position: relative;
  width: 60px;
  height: 60px;
}

/* === BRAÇO MECÂNICO E ÍCONE === */
.harvester {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(var(--mobo-red));
  border-radius: 1.5rem;
  margin-top: 2rem;
}

.harvesterDirection {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(var(--mobo-red));
  border-radius: 1.5rem;
  margin-top: 2rem;
}

/* === RESPONSIVIDADE === */
@media (max-width: 1024px) {
  .camera {
    width: 95%;
  }
  .map {
    width: 80%;
  }
  .remote .centerButton {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 768px) {
  .map {
    width: 90%;
  }
}
