<%- include("partials/head.ejs") %>
<body class="no-theme">
<div class="container">
    
    
</div>

<script src="/assets/js/theme.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/formToggle.js"></script>
</body>
</html>
