.map {
  width: 100%;
  height: 300px;
  border-radius: 1.5rem;
  border: 2px solid rgb(var(--mobo-red));
}

.info {
  margin-top: 12px;
}

.message {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-family: var(--font-secondary);
}