<%- include("partials/head.ejs") %>
<body>
<div class="container">
    <!--Menu Lateral-->
    <div class="container">
        <%- include("partials/sideMenu.ejs") %> 
        <main>
            <h1 class="txt">Configurações do Braço Mecânico</h1>
            <!-- camera -->
            <div class="camera">
                <!-- Visor da Câmera -->
                <video class="visor" id="video" autoplay></video>
            </div>
            <div class=" column">                  
                <canvas class="is-hidden" id="canvas"></canvas>
            </div>
     
            <div class="areaBraco">
                <!-- Controles da Câmera -->
                <div id="controls">
                    <p class="btnTxt">Botões</p>
                    <button id="take-photo"><img class="botoes" src="/assets/img/icon/camera (1).png" alt=""><p class="txticons">Foto</p></button>
                    <button id="start-recording"><img class="botoes" src="/assets/img/icon/camera-de-video.png" alt=""><p class="txticons">Video</p></button>
                    <button id="stop-recording" disabled><img class="botoes" src="/assets/img/icon/pare.png" alt=""><p class="txticons">Parar</p></button>
                    <button id="toggle-fullscreen"><img class="botoes2" src="/assets/img/icon/expandir.png" alt=""><p class="txticons">Expandir</p></button>
                    <br>
                </div>

                <div class="areaBraco2">
                    <button style="background-color: transparent;"><img class="botoes" src="/assets/img/icon/relampago.png" alt=""><p class="txticons">Flash</p></button>
                    <button style="background-color: transparent;"><img class="botoes" src="/assets/img/icon/sem-flash.png" alt=""><p class="txticons">Sem Flash</p></button>
                    <button style="background-color: transparent;"><img class="botoes" src="/assets/img/mais-zoom (1).png" alt=""><p class="txticons">+Zoom</p></button>
                    <button style="background-color: transparent;"><img class="botoes" src="/assets/img/reduzir-o-zoom (1).png" alt=""><p class="txticons">-Zoom</p></button>
                    </div>
                <a class="txtgaleria" href="/profile">Visualizar Registros de Fotos</a>
            </div>
        </main>
        
        <div class="mapa">                   
            <iframe class="areaMapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58104.267122994366!2d-47.850728627694984!3d-24.467547991622677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c53436f4f0c1cb%3A0xbab60b5cc9451e73!2sRegistro%2C%20SP%2C%2011900-000!5e0!3m2!1spt-BR!2sbr!4v1729989897108!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="btnsMapa">
                <button class="txtMapa" style="background-color: transparent;">Adicionar Sensores</button>
            </div>
            <div class="btnsMapa2">
                <button class="txtMapa" style="background-color: transparent;">Ativar Alertas</button>
            </div>
        </div>

        <button class="btnVelocidade"><img width="90px" src="/assets/img/icon/btnMaior.png" alt=""></button>
        <button class="btnVelocidadeM"><img width="90px" src="/assets/img/icon/btnMenor.png" alt=""></button>

        <div class="remote">
            <!-- Botão Central de Stop -->
            <button class="center-button">START</button>        
    
            <!-- Botões de Direção -->
            <div class="direction-buttons">
                <button class="direction-button up"> <img width="43px" src="/assets/img/icon/btnCima.png" alt=""></button>
                <button class="direction-button down"><img width="42px" src="/assets/img/icon/btnBaixo.png" alt=""></button>
                <button class="direction-button left"><img width="33px" src="/assets/img/icon/btnEsquerda.png" alt=""></button>
                <button class="direction-button right"><img width="33px" src="/assets/img/icon/btnDireita.png" alt=""></button>
            </div>
        </div>

        <div class="areaGarra">
            <img class="direcaoGarra" src="/assets/img/icon/direcao.png" alt="">
            <img class="garra" src="/assets/img/icon/garra.png" alt="">
        </div>

        <!--  Botao darkMode -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active"></span>
                    <span class="material-icons-sharp"></span>
                </div>
                <div class="perfilFT">
                    <a href="/profile"><img width="40px" src="/assets/img/icon/perfil.png"></a>
                </div>
            </div>
    
            <!-- Ícone de notificação -->
            <div class="notificacao-container">
                <img src="/assets/img/icon/notificacao.png" alt="Ícone de Notificação" class="notificacao-icone" id="notificacao-icone">
                <span class="badge" id="notificacao-badge">3</span>
            </div>
                        
            <!-- Caixa de notificação -->
            <div class="caixa-notificacao" id="caixa-notificacao">
                <h3>Notificações</h3>
                <ul id="lista-notificacoes">
                    <li class="notificacao-item alerta">
                        <p>Atenção chuvas fortes se aproximam, proteja sua Plantação!</p>
                        <button onclick="excluirNotificacao(this)">Excluir</button>
                        <button onclick="gerarAlerta('Nova atualização de sistema disponível!')">Gerar Alerta</button>
                    </li>
                    <li class="notificacao-item">
                        <p>Alta Temperatura.</p>
                        <button onclick="excluirNotificacao(this)">Excluir</button>
                        <button onclick="gerarAlerta('Seu pedido foi enviado.')">Gerar Alerta</button>
                    </li>
                    <li class="notificacao-item">
                        <p>Baixa Umidade.</p>
                        <button onclick="excluirNotificacao(this)">Excluir</button>
                        <button onclick="gerarAlerta('Você tem 3 novas mensagens.')">Gerar Alerta</button>
                    </li>
                </ul>
                <button id="fechar-caixa" onclick="fecharCaixa()">Fechar</button>
            </div>
        </div>
    </div>
</div>    

<script src="/assets/js/bracoMecan.js"></script>
<script src="/assets/js/popUp.js"></script>   
<script src="/assets/js/darkmode.js"></script>  
<script src="/assets/js/notificacao.js"></script>  
</body>
</html>
