<%- include("partials/head.ejs") %>
<body>
<div class="intro">
    <h1 class="logo-header" >
        <img class="fade-in imgLogo" width="100px" src="/assets/img/mobo.ico" alt="">
    </h1>
</div> 

<div class="navbarHome">
    <div class="iconNav">
        <img width="50px" src="/assets/img/mbRosa.png">
        <div class="perfilFT">
            <a href="/profile" class="profile-link"><img width="40px" src="/assets/img/icon/perfil.png">
                <div class="profile-info" >
                    <img class="perfilCard" src="/assets/img/Agronomia.jpeg" alt="">
                    <p class="txts"><strong>Nome:</strong> Giovanna Silva</p>
                    <p class="txts"><strong>Email:</strong> email@email.com</p>
                    <p class="txt1Card">Logout</p>
                </div>                
            </a>
        </div>
    </div>   
</div>

<div style="display: flex; gap: 10px;">            
</div>

<main>
    <h1 class="txt"></h1>
    <!-- banner -->
    <div class="banner">
        <img class="imgBanner"  src="/assets/img/BannerOfc2.png" alt="">
    </div>
    <img class="logo-container" width="110px" src="/assets/img/Logo.png" alt="">
    <form action="/search" method="GET">
        <div class="pesquisa">
            <input class="psq" type="text" placeholder="Digite sua pesquisa...">
            <button class="iconPsq"> <img width="20px" src="/assets/img/icon/lupa-de-pesquisa.png" alt=""> </button>
        </div>
    </form>
</main>  

<div class="card">
    <h2 class="tituloBtns">Ferramentas:</h2>
    <div class="card__container">
        <article>
            <div>
                <a href="/clawArm"><img src="/assets/img/icon/garraIcon.png" alt="card image" class="card__img"></a>
                <h1 class="card__title">Configurações do Braço Mecânico</h1>
                <div class="button-container">
                    <p class="txtBtns">A garra mecânica possui sensores, câmera que identifica frutos prontos para serem
                             colhidos e controle de direção para precisão na colheita.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div>
                <a href="/sensors"><img src="/assets/img/icon/sensoresIcon.png" alt="card image" class="card__img"></a>
                <h1 class="card__title">Sensores</h1>
                <div class="button-container">
                    <p class="txtBtns">Os sensores monitoram a temperatura, a umidade do ar e a umidade do solo, garantindo um ambiente de cultivo nas condições ideais.
                    </p>               
                </div>
            </div>
        </article>
        <article>
            <div>
                <a href="/harvestForecast"><img src="/assets/img/icon/lembrete (1).png" alt="card image" class="card__img"></a>
                <h1 class="card__title">Previsão de Colheita</h1>
                <div class="button-container">
                    <p class="txtBtns">A previsão de colheita utiliza dados de sensores e condições climáticas para estimar o momento ideal da colheita.
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="card__container">
        <article>
            <div>
                <a href="/reports"><img src="/assets/img/icon/relatorioIcon.png" alt="card image" class="card__img"></a>
                <h1 style="margin-left: -30px;" class="card__title">Relatórios</h1>
                <div class="button-container">
                    <p class="txtBtns">Os relatórios fornecem dados detalhados sobre o processo de colheita, essas informações permitem o monitoramento contínuo para otimizar a qualidade e eficiência da colheita.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div>
                <a href="/dashboard"><img width="100px" src="/assets/img/icon/dashboard.png" alt="card image" class="card__img"></a> 
                <h1 style="margin-left: -10px" class="card__title">Dashboard</h1>
                <div class="button-container">
                    <p class="txtBtns">A dashboard exibe gráficos, proporcionando uma visão clara e em tempo real dos dados facilitando o acompanhamento do cultivo e o ajuste da colheita.
                    </p>
                </div>
            </div>
        </article>
        <article>
            <div>
                <a href="/alerts"><img src="/assets/img/icon/aviso.png" alt="card image" class="card__img"></a>
                <h1 style="margin-left: 20px;" class="card__title">Alertas</h1>
                <div class="button-container">
                    <p class="txtBtns">Os alertas notificam sobre mudanças nas condições ideais de temperatura, umidade do ar e do solo, permitindo ajustes rápidos no processo de colheita.
                    </p>
                </div>
            </div>
        </article>
    </div>
</div>

<div>
    <img class="personagem" src="/assets/img/mobotst (3).png" alt="">
</div>

<img class="bannerFooter" src="/assets/img/footerBanner.png" alt="">
<footer>
    <h2>@CyperWaves</h2>
    <img class="footerimg  floating" src="/assets/img/moboFooter.png" alt="">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
</footer>
<script src="/assets/js/popUp.js"></script>
<script src="/assets/js/splash.js"></script>
</body>
</html>