<%- include("partials/head.ejs") %>
<body class="no-theme">
<div class="container">
    <div class="content first-content">
        <div class="first-column">
            <h2 class="title title-primary"> Bem vindo ao Mobo!</h2>
            <p class="description description-primary">Se você já possui uma conta</p>
            <p class="description description-primary">clique no botão abaixo e faça seu login</p>
            <button id="signin" class="btn btn-primary">Entrar</button>
        </div>    
        <!-- Formulário de Cadastro -->
        <div class="second-column">
            <img class="logo-container" width="150px" src="/assets/img/Logo.png" alt="">
            <h2 class="title title-second">Deseja criar uma conta?</h2>
            <form class="form" action="/createUser" method="POST">

                <label class="label-input" for="userImage">
                    <i class="far fa-image icon-modifys"></i>
                    <span class="txtimp">Escolher imagem</span>
                    <input  class="fundoInput" id="userProfileImage" type="file" name="userImage" accept="image/*" style="display: none;">
                </label>

                <label class="label-input" for="userName">
                    <i class="far fa-user icon-modify"></i>
                    <input type="text" name="userName" placeholder="Nome" required>
                </label>
                    
                <label class="label-input" for="userPhone">
                    <i class="fas fa-phone icon-modify"></i>
                    <input type="text" name="userPhone" placeholder="Telefone">
                </label>

                <label class="label-input" for="userEmail">
                    <i class="far fa-envelope icon-modify"></i>
                    <input type="email" name="userEmail" placeholder="Email" required>
                </label>
                    
                <label class="label-input" for="userPassword">
                    <i class="fas fa-lock icon-modify"></i>
                    <input type="password" name="userPassword" placeholder="Senha" required>
                </label>
                    
                <label class="label-input" for="userRole">
                    <i class="fas fa-seedling icon-modify"></i>
                    <select class="fundoInput" name="userRole" id="userRole" required>
                        <option class="startInput" value="" disabled selected>Tipo de Usuário:</option>
                        <option class="txtInput" value="company_admin">CEO de Empresa</option>
                        <option class="txtInput" value="company_worker">Funcionário de Empresa</option>
                        <option class="txtInput" value="family_farmer">Agricultor Familiar</option>
                    </select>
                </label>
                  
                <!-- Bloco para Agricultor Familiar -->
                <div id="farmerFields" style="display: none;">
                    <label class="label-input" for="farmerDetails[cpf]">
                        <i class="fas fa-id-card icon-modify"></i>
                        <input type="text" name="farmerDetails[cpf]" placeholder="CPF">
                    </label>
                  
                    <label class="label-input" for="farmerDetails[dap]">
                        <i class="fas fa-file-alt icon-modify"></i>
                        <input type="text" name="farmerDetails[dap]" placeholder="DAP">
                    </label>
                </div>
                  
                <!-- Bloco para Empresa -->
                <div id="companyFields" style="display: none;">
                    <label class="label-input" for="company">
                        <i class="fas fa-building icon-modify"></i>
                        <select class="fundoInput" name="company">
                            <option class="startInput" value="" disabled selected>Selecione a Empresa</option>
                                <% companies.forEach((company) => { %>
                                <option class="txtInput" value="<%= company._id %>"><%= company.companyName %></option>
                                <% }) %>
                        </select>
                    </label>
                </div>

                <button class="btn btn-second" type="submit">Cadastrar-se</button> 

            </form>
        </div>
    </div>
    <div class="content second-content">
        <div class="first-column">
            <h2 class="title title-primary">olá!</h2>
            <p class="description description-primary">Se ainda não possui conta, cadastre-se</p>
            <p class="description description-primary">e comece a jornada conosco</p>
            <button id="signup" class="btn btn-primary">Cadastrar-se</button>
        </div>
        <!-- Formulário de Login -->
        <div class="second-column">
            <img class="logo-container" src="/assets/img/Logo.png" alt="">
            <h2 class="title title-second">Faça seu login!</h2>
            <form class="form" action="/authenticate" method="POST">

                <label class="label-input" for="userEmail">
                    <i class="far fa-envelope icon-modify"></i>
                    <input type="email" name="userEmail" placeholder="Email" required>
                </label>
                
                <label class="label-input" for="userPassword">
                    <i class="fas fa-lock icon-modify"></i>
                    <input type="password" name="userPassword" placeholder="Senha" required>
                </label>

                <button class="btn btn-second" type="submit">Entrar</button>
                <a class="password" href="#">Esqueceu sua senha?</a>

            </form>
        </div>
    </div>
</div>

<script src="/assets/js/theme.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/formToggle.js"></script>
</body>
</html>
