@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --bege: #ece2d6;
    --bordaGrafico: #b70a49;
    --txtColorCard: #3c4c27;
    --colorArea: #b70a49;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    --areaCalendarDay: #b70a4a46;
    --marcacaoDay: #b70a49;

    --menu: #b70a49;
    --txtMenu: #3c4c27;
    --verdeClaro: #61743d;
    --verdeEscuro: #3c4c27;
    --vermelho: #b70a49;
    font-size: 16px;
    --txt: #b70a49;
    --colorEvent: #61743d;
    --colorEventPg: #61743db4;
    --colorEventPg2: #3c4c27;
    --claroShadow: #ffffff7c;


    --color-primary: #ece2d6;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #ece2d6;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #ece2d6;
    --color-background: #ece2d6;
    --colorBege: #ece2d6;
    --colorCalendario: #b70a49;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --box-shadowCalendar: 0 0.5rem 1rem 1rem  var(--claroShadow);

}

/* Vartiaveis para modo dark (passa o nome da variavel com outra cor )*/
.dark-mode-variables{
    --verdeClaro:rgb(166, 255, 0)d;
   /*--color-background: #1c2412;*/
    --color-background: #1a1f16;
    --color-white: #202528;
    --colorBege: #181a1e;
    --color-dark: #edeffd;
    --color-dark-variant: #ece2d6;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --bordaGrafico: #61743d;
    /* --menu: #61743d;*/
   --menu: rgba(255, 255, 255, 0.014);
    --txtMenu: #ece2d6;
    --txtColorCard: #ece2d6;
    --txt: #ece2d6;
    --colorArea: #3c4c27;
    --colorBTNCard:rgb(28,36,18) linear-gradient(90deg, rgba(28,36,18,1) 0%, rgba(28,36,18,1) 35%, rgba(97,116,61,1) 100%);
    --colorEvent: #b70a49;
    --colorEventPg: #b70a4a94;
    --colorEventPg2: #b70a49;
       /* --colorGraficoCard: rgb(28,36,18) linear-gradient(90deg, rgba(28,36,18,1) 0%, rgba(28,36,18,1) 35%, rgba(97,116,61,1) 100%);*/
       --colorCalendario: #3c4c27;

       --escuroShadow: #0000007c;
       --box-shadowCalendar: 0 0.5rem 1rem 1rem  var(--escuroShadow);
       --areaCalendarDay: #61743d4d;
       --marcacaoDay: #3c4c27;




}

*{
    margin: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}
a{
    color: var(--color-dark);
}
img{
    display: block;
    object-fit: cover;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--txt);
}
h2{
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--txt);
}
h3{
    font-weight: 500;
    font-size: 0.87rem;
}
small{
    font-size: 0.76rem;
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
  
.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}
.txt{
    margin-top: 10px;
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}
.txt{
  margin-top: 25px;
  color: var(--txt);
}
/*  MENU LATERAL */
aside{
  height: 890px;
  background-color: var(--menu);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 4px solid var(--bordaGrafico);   
  border-radius: 20px;
  color: var(--colorBege);
  margin-top: 10px;
  margin-left: -14px;
  width: 160px;
}
aside .toggle{
  justify-content: space-between;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 3rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}
aside .toggle .logo{
  display:flex;
  margin-left: 52px;  
  margin-top: 40px;
}
aside .toggle .logo img{
  width: 60px;
  height: 48px;
}
aside .toggle .close{
  padding-right: 1rem;
  display: none;
  color: var(--verdeEscuro);
}
aside .sidebar{
  background-color: var(--menu);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  height: 83vh;
  position: relative;
  top: 1.5rem;
  transition: all 0.3s ease;
  width: 105%;
  margin-left: -4px;
}
aside .sidebar:hover{
  box-shadow: none;
}
/* txt navbar*/
aside .sidebar a{
  display: flex;
  align-items: center;
  color: var(--bege);
  height: 5.0rem;
  width: 200px;
  gap: 1rem;
  margin-left: 2rem;
  transition: all 0.3s ease;
  left: -28px;
  margin-top: 3px;
  margin-left: 22px;
}
aside .sidebar a span{
  font-size: 14.5px;
  transition: all 0.3s ease;
}
aside .sidebar a:last-child{
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
aside .sidebar a.active{
  width: 100%;
  color: var(--verdeClaro);
  background-color: var(--color-light);
  margin-left: 0;
}
aside .sidebar a.active::before{
  content: '';
  width: 6px;
  height: 18px;
  background-color: var(--color-primary);
}
aside .sidebar a.active span{
  color: var(--verdeClaro);
  margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
  color: var(--txtMenu);
}
aside .sidebar a:hover span{
  margin-left: 0.6rem;
}
.Logout{
  margin-top: -50px;
  padding-left: 20px;
}
.Terreno{
  margin-bottom: 90px;
  padding-right: 80px;
  text-align: left;
}
.IconTerren{
  width: 20px;
  margin-left: -6px;
}


aside .sidebar .message-count{
  background-color: var(--color-danger);
  padding: 2px 6px;
  color: var(--color-white);
  font-size: 11px;
  border-radius: var(--border-radius-1);

}*/
main{
  margin-top: 1.4rem;

}


/*  NAVBAR ICONS */
.right-section{
    margin-top: 1.4rem;

}
.right-section .nav{
    display: flex;
    gap: 2rem;
    
}
.right-section .nav button{
    display: none;
}


/*  CALENDARIO - PREVISÃO COLHEITA */

  /* nice scroll bar */
  ::-webkit-scrollbar {
    width: 5px;

  }
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--vermelho);
    border-radius: 50px;
  }

.containerCalendario {
    top: 10px;
    position: relative;
    width: 1570px;
    height: 810px;
    margin: 0 auto;
    padding: 5px;
    color: var(--bege);
    display: flex;
    border-radius: 30px;
    background-color: var(--menu);
    border: 4px solid var(--bordaGrafico);   
    box-shadow: var(--box-shadowCalendar);

  }
  .left {
    width: 60%;
    padding: 20px;
  }
  .calendar {
    position: relative;
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000000;
    border-radius: 20px;
    background-color: var(--bege);
    margin-top: -15px;
  }
  /* set after behind the main element */
  .calendar::before,
  .calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 20px 20px 0;
    background-color: #ece2d6d2;
    border: 2 solid var(--bordaGrafico);
    transform: translateY(-50%);
  }
  .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: #ece2d6ad;
  }
  .calendar .month {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: var(--vermelho);
  }
  .calendar .weekdays {
    width: 100%;
    height: 60px;/**/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
    width: 10.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 80px;/**/
  }
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--vermelho);
    border: 1px solid var(--bordaGrafico);
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid var(--bordaGrafico);
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid var(--bordaGrafico);
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid var(--bordaGrafico);
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid var(--bordaGrafico);
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--vermelho);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: var(--verdeClaro);
  }
  .calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--bordaGrafico);
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--bordaGrafico);
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
    background-color: var(--areaCalendarDay);
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--marcacaoDay);/**/
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: var(--bordaGrafico);
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-top: -80px;/**/
    margin-bottom: 20px;
    color: var(--verdeClaro);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--verdeEscuro);
  }
  .calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--bordaGrafico);
    border-radius: 5px;
  }
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--bordaGrafico);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--bordaGrafico);
  }
  .calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--bordaGrafico);
  }
  .calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--bordaGrafico);
    border-radius: 0;
  }
  .container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
  }
  
  .right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: var(--bege);
  }
  .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }
  .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: var(--bordaGrafico);
    background: linear-gradient(90deg, var(--bege), transparent);
    cursor: pointer;
  }
  /* even event */
  .events .event:nth-child(even) {
    background: transparent;
  }
  .events .event:hover {
    background: linear-gradient(90deg, var(--colorEvent), transparent);
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
  }
  .events .event i {
    color: var(--bordaGrafico);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: var(--bordaGrafico);
  }
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--bege);
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: var(--bege);
  }
  /* add tick in event after */
  .events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--bege);
    transform: translateY(-50%);
  }
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--bege);
    border: 2px solid var(--bege);
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--bege);
  }
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--bege);
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 300px;
  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: var(--bordaGrafico);
    border-bottom: 1px solid var(--bordaGrafico);
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--vermelho);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bordaGrafico);
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--bordaGrafico);
  }
  .add-event-body .add-event-input input::placeholder {
    color: var(--bordaGrafico);
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--bordaGrafico);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--bordaGrafico);
  }
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--bordaGrafico);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--bordaGrafico);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--bordaGrafico);
  }
  
  /* BOTAO DARK */
.dark-mode{
  background-color: var(--vermelho);
  display: flex;
  align-items: center;
  height: 1.6rem;
  width: 3.2rem;
  cursor: pointer;
  border-radius: 20px;
  margin-left: -250px;
}
.dark-mode span{
  font-size: 1.2rem;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-mode span.active{
  background-color: #61743d;
  border: 2px solid #ece2d6;
  border-radius: 20px;
}
/*Perfil Usuário*/
.perfilFT{
  margin-left: -2%;
  margin-top: -5px;
}
/* ALERTA NOTIFICAÇÃO */
.notificacao-container {
  position: relative;
  display: inline-block;
  margin-left: -110px;
  margin-top: -82px;
  margin-bottom: 15px;
}
.notificacao-icone {
  width: 40px;
  cursor: pointer;
}
.badge {
  position: absolute;
  top: 5px;
  bottom:10px;
  right: 2px;
  background-color: var(--verdeClaro);
  color: var(--bege);
  font-size: 12px;
  padding: 5px;
  border-radius: 50%;
}
/* Caixa de Notificação */
.caixa-notificacao {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 20px;
  color: var(--vermelho);
}
.caixa-notificacao h3 {
  margin-top: 0;
}
.notificacao-item {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  color: var(--vermelho);
}
.notificacao-item p {
  margin: 0;
  color: var(--vermelho);
}
.notificacao-item button {
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  color: var(--verdeEscuro);
  background-color: var(--bege);
  border-radius: 20px;
}
.notificacao-item button:hover{
  background-color: var(--efeitoRelatorio);
  color: var(--bege);
  transform: scale(1.02);
}
.alerta {
  background-color: #f8d7da;
  border-left: 5px solid var(--vermelho);
}
.alerta p {
  color: var(--vermelho);
}

/* Botão fechar */
#fechar-caixa {
  padding: 5px 10px;
  background-color: var(--verdeClaro);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
#fechar-caixa:hover {
  background-color: var(--verdeEscuro);
}
/**/
 