.rightSection {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem 2rem;
}

.darkMode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 950px) {
  .right-section {
    display: none;
  }
}
