<aside>
  <div class="toggle">
    <div class="logo">
      <img src="/assets/img/mbBege.png" />
    </div>
    <div class="close" id="close-btn">
      <span class="material-icons-sharp"> close </span>
    </div>
  </div>
  <div class="sidebar">
    <a href="/home">
      <span> Home </span>
    </a>
    <a href="/clawArm">
      <span> Braço Mecânico </span>
    </a>
    <a href="/dashboard">
      <span> Dashboard </span>
    </a>
    <a href="/sensors">
      <span> Sensores </span>
    </a>
    <a href="/reports">
      <span> Relatórios </span>
    </a>
    <a href="/alerts">
      <span> Alertas </span>
    </a>
    <a href="/harvestForecast">
      <span> Previsão Colheita </span>
    </a>
    <a href="/profile">
      <span> Perfil </span>
    </a>
    <a class="Terreno" href="/land">
      <img
        class="IconTerren"
        src="/assets/img/icon/adicionar.png"
        alt="logout"
      />Terreno
    </a>
    <a class="Logout" href="/logout">
      <img
        width="20px"
        src="/assets/img/icon/botao-de-logout.png"
        alt="logout"
      />Logout
    </a>
  </div>
</aside>
