.container {
  display: flex;
  min-height: 100vh;
  background: rgb(var(--mobo-beige));
  overflow-x: hidden;
  padding: 10px 25px;
  position: relative;
}

/* ===== Conteúdo ===== */
main {
  flex: 1;
  /* top right bottom left  */
  padding: 0.1rem 0;
  margin: 0 5% 0 13%;
  transition: all 0.3s ease;
}

main h1 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: rgb(var(--mobo-red));
  margin-bottom: 1.5rem;
}

